---
title:  Group meetings
layout: main
---

<p>
  Visitors are welcome at the weekly group meeting, which will take place
  {% for t in site.data.group_meeting %}{{ t }}{% endfor %}.
</p>

<p>
  I generally expect to be around my office and open for research discussions
  with the group at least for these hours for the Fall:
</p>

<ul>
{% for hour in site.data.hours.group %}<li>{{ hour }}</li>{% endfor %}
</ul>

<p>
  You can also schedule appointments using my
  <a href="https://outlook.office365.com/owa/calendar/BindelOH@cornellprod.onmicrosoft.com/bookings/">schedule online</a> (see also below)
  or by email.
</p>

<iframe src='https://outlook.office365.com/owa/calendar/BindelOH@cornellprod.onmicrosoft.com/bookings/' width='100%' style='height: 100vh;' scrolling='yes' style='border:0'></iframe>
