---
title: Home
layout: top
---

{% include dbindel_head.html %}

<div class="row">
  <div class="col-xs-12 cols-sm-12 col-md-6 col-lg-6">

    <!--
    <h2>News</h2>

    {% assign news = site.data.news | reverse %}
    {% for entry in news limit:5 %}
    <p class="handingindent">
      <strong>{{ entry.date }}:</strong>
      {% if entry.url %}<a href="{{entry.url}}">{{ entry.desc }}</a>{% else %}{{ entry.desc }}{% endif %}
    </p>
    {% endfor %}
    -->
    
    <h2>Research highlights</h2>

    {% for item in site.data.projects.highlight %}
    {%   assign entry = site.data.blurbs_dict[item] %}
    {%   include blurb_entry.html %}
    {% endfor %}

    <p>
      <a class="btn" href="research.html">More projects &raquo;</a>
    </p>

    <h2>CU Scientific Software Club</h2>

    {% assign entry = site.data.blurbs_dict["cussw"] %}
    {% include blurb_entry.html %}

  </div>

  <div class="col-xs-12 cols-sm-12 col-md-6 col-lg-6">
<!--
    <h2>Currently teaching</h2>

    {% assign items = site.data.classes.current %}
    {% for c in items %}
    {%   assign entry=site.data.classes[c.course] %}
    {%   include class_entry.html %}
    {% endfor %}

    <br>
    <p>
      <a class="btn" href="teaching.html">More classes &raquo;</a>
    </p>
 -->

    <h2><a href="https://academicjobsonline.org/ajo/jobs/12919>Postdoc ad</a></h2>

    <p>
      I am seeking a postdoc to work with me at Cornell as part of the
      Simons collaboration on
      <q><a href="https://hiddensymmetries.princeton.edu/">Hidden
          Symmetries and Fusion Energy</a></q>.  You should have a PhD
      in applied mathematics, physics, CS, or related areas and know
      something about design and analysis of numerical methods;
      previous experience with plasma physics, while surely helpful,
      is by no means required.
    </p>

    <p>
      <a href="https://academicjobsonline.org/ajo/jobs/12919">Apply
      here!</a>  Preferably by Dec 31, 2018, though the search will
      remain open until the position has been filled.
    </p>

    <h2>Upcoming travels</h2>

    {% assign items = site.data.travel | sort: 'date' %}
    {% assign today = site.time | date: "%s" %}
    {% for entry in items %}
    {%   assign entry_date = entry.date | date: "%s" %}
    {%   if today < entry_date %}
    <p class="handingindent">
      <strong>{{ entry.date }}:</strong>
      {% if entry.url %}<a href="{{entry.url}}">{{ entry.text }}</a>{% else %}{{ entry.text }}{% endif %}
    </p>
    {%   endif %}
    {% endfor %}
  </div>

</div>
