---
title: Home
layout: top
---

{% include dbindel_head.html %}

<div class="row">
  <div class="col-xs-12 cols-sm-12 col-md-6 col-lg-6">

    <!--
    <h2>News</h2>

    {% assign news = site.data.news | reverse %}
    {% for entry in news limit:5 %}
    <p class="handingindent">
      <strong>{{ entry.date }}:</strong>
      {% if entry.url %}<a href="{{entry.url}}">{{ entry.desc }}</a>{% else %}{{ entry.desc }}{% endif %}
    </p>
    {% endfor %}
    -->

    <h2>Research highlights</h2>

    {% for item in site.data.projects.highlight %}
    {%   assign entry = site.data.blurbs_dict[item] %}
    {%   include blurb_entry.html %}
    {% endfor %}

    <p>
      <a class="btn" href="research.html">More projects &raquo;</a>
    </p>

    <h2>Upcoming travels</h2>

    {% assign items = site.data.travel | sort: 'date' %}
    {% assign today = site.time | date: "%s" %}
    {% for entry in items %}
    {%   assign entry_date = entry.date | date: "%s" %}
    {%   if today < entry_date %}
    <p class="handingindent">
      <strong>{{ entry.date }}:</strong>
      {% if entry.url %}<a href="{{entry.url}}">{{ entry.text }}</a>{% else %}{{ entry.text }}{% endif %}
    </p>
    {%   endif %}
    {% endfor %}

  </div>

  <div class="col-xs-12 cols-sm-12 col-md-6 col-lg-6">
    <h2>Teaching highlights</h2>

    {% assign entry = site.data.blurbs_dict["nmds"] %}
    {% include blurb_entry.html %}

    <h2>Currently teaching</h2>

    {% assign items = site.data.classes.current %}
    {% for c in items %}
    {%   assign entry=site.data.classes[c.course] %}
    {%   include class_entry.html %}
    {% endfor %}

    <br>
    <p>
      <a class="btn" href="teaching.html">More classes &raquo;</a>
    </p>

  </div>

</div>
