---
title:  Research
layout: main
---

<p>
  I work in computational science and engineering, and my research mixes
  mathematical analysis, application modeling, and software design.
  This page introduces some of my work -- I've left out older
  projects, projects where there aren't any results yet, and projects
  that can't readily be crammed into the listed categories.
  My CV gives a more complete list of talks and publications
  (with hyperlinks).
</p>

<hr/>

{% for item in site.data.projects.current %}
{%   assign entry = site.data.blurbs_dict[item] %}
<div class="well">
{%   include blurb_entry.html %}
</div>
{% endfor %}

<h2>Older projects</h2>

{% for item in site.data.projects.old %}
{%   assign entry = site.data.blurbs_dict[item] %}
<div class="well">
{%   include blurb_entry.html %}
</div>
{% endfor %}
