---
title: Software
layout: main
---

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#packages" aria-controls="packages" role="tab" data-toggle="tab">Packages</a></li>
    <li role="presentation"><a href="#utilities" aria-controls="utilities" role="tab" data-toggle="tab">Utilities</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="packages">
      <hr/>
      {% for item in site.data.codes.packages %}
      {%   assign entry = site.data.blurbs_dict[item] %}
      <div class="well">
      {%   include blurb_entry.html %}
      </div>
      {% endfor %}
    </div>
    <div role="tabpanel" class="tab-pane" id="utilities">
      <hr/>
      {% for item in site.data.codes.utilities %}
      {%   assign entry = site.data.blurbs_dict[item] %}
      <div class="well">
      {%   include blurb_entry.html %}
      </div>
      {% endfor %}
    </div>
  </div>

</div>
