---
title: Talks
layout: main
js: [filtering.js]
---

<p>
  These are all of my publications, external or internal.  This includes
  local seminar talks and informal talks to current and
  prospective students.  For a chronological list of external talks,
  split by type, see the relevant
  <a href="vita.html#talks">section of my CV</a>.
</p>

<div id="filters"></div>

{% assign pdate = "0000" %}
{% for entry in site.data.present reversed %}
{%   if entry.title %}
{%     assign fdate = entry.date | append: "-01" %}
{%     assign year = fdate | date: "%Y" %}
{%     if year != pdate %}
{%       if pdate != "0000" %}</div>{% endif %}
{%       assign pdate = year %}
{%       assign pmonth = "" %}
<div class="filtering">
<h3>{{ year }}</h3>
{%     endif %}
<div class="talk filter-all {% for tag in entry.tags %} filter-{{ tag }}{% endfor %}">
  <div class="col-md-1">
    {% if entry.month_abbrev != pmonth %}<h4><b>{{ entry.month_abbrev }}</b></h4>{% endif %}
  </div>
  <div class="col-md-11 well well-sm">
    <h4><a href="present/{{entry.uid}}">{{ entry.title }}</a></h4>
    <p>
      {{ entry.where }}<br/>
      {% for tag in entry.tags %} <span class="label label-primary">{{ tag }}</span>{% endfor %}
      &bull;
      {% for type in entry.type %} <span class="label label-info">{{ type }}</span>{% endfor %}
    </p>
  </div>
</div>
{%     assign pmonth = entry.month_abbrev %}
{%   endif %}
{% endfor %}
</div>
