---
title: Talks
layout: main
js: [filtering.js]
---

<div id="filters"></div>

{% assign pdate = "0000" %}
{% for entry in site.data.present reversed %}
{%   if entry.title %}
{%     assign fdate = entry.date | append: "-01" %}
{%     assign year = fdate | date: "%Y" %}
{%     if year != pdate %}
{%       if pdate != "0000" %}</div>{% endif %}
{%       assign pdate = year %}
<div class="filtering">
<h3>{{ year }}</h3>
{%     endif %}
<div class="talk filter-all {% for tag in entry.tags %} filter-{{ tag }}{% endfor %}">
  <div class="col-md-1">
    <h4><b>{{ entry.month_abbrev }}</b></h4>
  </div>
  <div class="col-md-11 well well-sm">
    <h4><a href="present/{{entry.uid}}">{{ entry.title }}</a></h4>
    <p>
      {{ entry.where }}<br>
      {% for tag in entry.tags %} <span class="label label-primary">{{ tag }}</span>{% endfor %}
    </p>
  </div>
</div>
{%     assign pmonth = mnum %}
{%   endif %}
{% endfor %}
</div>
