---
title: CV
layout: main
bibdiv: well-sm
---

<div class="page-header">
<ul class="nav nav-pills">
<li><a href="#interests">Research Interests</a></li>
<li><a href="#prof">Experience and Education</a></li>
<li><a href="#awards">Awards</a></li>
<li><a href="#pubs">Publications</a></li>
<li><a href="#talks">Talks</a></li>
<!-- <li><a href="#software">Software</a></li> -->
<li><a href="#teaching">Teaching</a></li>
<li><a href="#activities">Service</a></li>
<li><a href="#member">Societies</a></li>
<li><a href="#students">Students</a></li>
<li><a href="cv/cv.pdf">PDF version</a></li>
</ul>
</div>

<hr/>

<h2 id="interests">Research Interests</h2>

{% include cv_interests.html %}

<h2 id="prof">Experience and Education</h2>

{% include cv_prof.html %}

<h2 id="awards">Awards</h2>

{% include cv_awards.html %}

<h2 id="pubs">Publications</h2>

{% include cv_pubs.html %}

<h2 id="talks">External Talks</h2>

{% include cv_talks.html %}

<h2 id="teaching">Teaching</h2>

{% include cv_teaching.html %}

<h2 id="member">Societies</h2>

{% include cv_member.html %}

<h2 id="activities">Service</h2>

{% include cv_activities.html %}

<h2 id="students">Students</h2>

{% include cv_students.html %}
{% include cv_thesis.html %}

<!--
<h2 id="software">Software</h2>

*  [MWwrap](cims/mwrap) -
   Generates wrappers to call C/C++ and Fortran
   codes from MATLAB.
*  [Matexpr](cims/matexpr) -
   Compiles MATLAB-like expressions embedded in C/C++ code
*  [Matscat](cims/matscat) -
   Computes resonances and scattering for 1D
   Schroedinger operators
*  BoneFEA -
   A commercial code for fast simulation of failure in human bone.
*  [HiQLab](cims/hiqlab) -
   A finite element simulator for computing losses in resonant
   microsystems.
*  [MATFEAP](cims/matfeap)/[FEAPMEX](cims/feapmex) -
   MATLAB interfaces to the FEAP finite element analysis code.
*  [SUGAR](http://mems.sourceforge.net/) -
   A lumped-element modeling system for MEMS based on modified nodal
   analysis.  I also worked on M&MEMS, a web-based interface to the
   SUGAR simulator.
*  [CLAPACK 3.0](http://www.netlib.org/clapack/) -
   C translation of of the LAPACK library for dense numerical
   linear algebra.

-->
