<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" width="64" src="{{ site.baseurl }}pic/{{ entry.image }}">
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      <a href="{{ site.baseurl }}{{ entry.url }}">
        {{ entry.title }}
      </a>
    </h4>
    <p>
      {{ entry.snippet }}
    </p>
    {% if entry.menu %}<ul class="list-inline">{% for link in entry.menu %}
      <li><a href="{{ link.url }}">{{ link.text}}</a></li>
    {% endfor %}</ul>{% endif %}
  </div>
</div>
