<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" width="64px" src="{{ site.baseurl }}/pic/{{ entry.image }}">
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      {% if entry.url %}
      <a href="{{ entry.url }}">{{ entry.title }}</a>
      {% else %}
      {{ entry.title }}
      {% endif %}
      {% if entry.class %}
      ({{ entry.class }})
      {% endif %}
    </h4>
    {% if entry.offered %}<ul class="list-inline">{% for csem in entry.offered %}
      <li><a href="{{ csem.url }}">[{{ csem.semester }}]</a></li>
    {% endfor %}</ul>{% endif %}
    {{ entry.logistics | markdownify }}
    {{ entry.snippet | markdownify }}
  </div>
</div>
