<table class="table">
  <tr>
    <td>September 2022-August 2025</td>
    <td>Collaboration Director, Simons Collaboration on Hidden Symmetries and Fusion Energy.</td>
    <td></td>
  </tr>
  <tr>
    <td>January 2021-December 2023</td>
    <td>Associate Dean for DEI, Ann S. Bowers College of Computing and Information Science</td>
    <td>Cornell University</td>
  </tr>
  <tr>
    <td>July 2020-June 2025</td>
    <td>Director, Center for Applied Mathematics</td>
    <td>Cornell University</td>
  </tr>
  <tr>
    <td>2017-present</td>
    <td>Associate Professor of Computer Science</td>
    <td>Cornell University</td>
  </tr>
  <tr>
    <td>Spring 2019</td>
    <td>Visiting Scholar, Department of Statistics</td>
    <td>University of Chicago</td>
  </tr>
  <tr>
    <td>Fall 2018</td>
    <td>Faculty Research Participant</td>
    <td>Argonne National Laboratory</td>
  </tr>
  <tr>
    <td>2009-2017</td>
    <td>Assistant Professor of Computer Science</td>
    <td>Cornell University</td>
  </tr>
  <tr>
    <td>2006-2009</td>
    <td>Courant Instructor of Mathematics</td>
    <td>New York University</td>
  </tr>
  <tr>
    <td>1999-2006</td>
    <td>Ph.D. in Computer Science</td>
    <td>University of California, Berkeley</td>
  </tr>
  <tr>
    <td>1995-1999</td>
    <td>B.S. in Math and Computer Science</td>
    <td>University of Maryland, College Park</td>
  </tr>
</table>
