<h3>Colloquium and Seminar Talks</h3>

<ol>
{% for talk in site.data.present reversed %}
{% if talk.type contains "seminar" or talk.type contains "colloquium" %}{% if talk.type contains "external" %}
<li>
  <div class="well">
    <a href="{{ talk.url }}">{{ talk.title }}</a>
    <br/>{{ talk.year }} {{ talk.month_abbrev }} &bull; {{ talk.where }}
    {% if talk.type contains "colloquium" %}<br/><span class="label label-info">colloquium</span>{% endif %}
  </div>
</li>
{% endif %}{% endif %}
{% endfor %}
</ol>

<h3>Workshop and Conference Talks</h3>

<ol>
{% for talk in site.data.present reversed %}
{% if talk.type contains "external" %}
{% if talk.type contains "seminar" or
      talk.type contains "colloquium" %}{% else %}
<li>
  <div class="well">
    <a href="{{ talk.url }}">{{ talk.title }}</a>
    <br/>{{ talk.year }} {{ talk.month_abbrev }} &bull; {{ talk.where }}
    <br/>{% for type in talk.type %}{% if type != "external" and type != "meeting" %} <span class="label label-info">{{ type }}</span>{% endif %}{% endfor %}
  </div>
</li>
{% endif %}
{% endif %}
{% endfor %}
</ol>
