<div class="hero-unit">
  <div class="row-fluid">
    <div class="columnA pull-left">
      <div style="text-align:center">
      <h1>David Bindel</h1>
      <h2>Assistant Professor of Computer Science</h2>
      <p class="lead">
      <a href="http://www.cs.cornell.edu/">Computer scientist</a>,
      <a href="http://www.cam.cornell.edu/">applied mathematician</a>, and
      <a href="http://www.cis.cornell.edu/cse/">computational
      engineer</a>.<br/>
      <a href="/bunny.html">Confusing rabbits since 2003.</a>
      </p>
      </div>
      <p class="columnA pull-left">
        Office: 425 Gates Hall<br/>
        <a href="/hours.html">Hours: </a>W 1:30-2:30, Th 10-11,
        <a href="http://www.meetme.so/DavidBindel">appt</a><br/>
        <a href="mailto:bindel@cs.cornell.edu">bindel@cs.cornell.edu</a> / 
        607-255-5395
      </p>
      <p class="columnB pull-right">
        Department of Computer Science<br>
        Cornell University<br>
        Ithaca, NY 14853
      </p>
    </div>
    <div class="columnB pull-right">
      <img class="media-object" src="pic/shanghai.jpg">
    </div>
  </div>
</div>
