<div class="jumbotron">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-3 col-sm-4 col-md-4 col-lg-4">
      <img src="{{ site.baseurl }}pic/chicago-bean-dsb-pic.jpg" class="img-responsive">
    </div>
    <div class="col-xs-9 col-sm-8 col-md-8 col-lg-8">
      <h1 class="media-heading">David Bindel</h1>
      <h2>Professor of<br/> Computer Science</h2>
      <h3>Director,
          <a href="http://www.cam.cornell.edu/">Center for Applied Math</a></h3>
      <h3>Associate Dean of DEI,<br/>
          <a href="https://cis.cornell.edu/diversity">Cornell Ann S. Bowers College of Computing and Information Science</a></h3>
      <h3>Director,
          <a href="https://hiddensymmetries.princeton.edu/">Simons Collaboration on Hidden Symmetries and Fusion Energy</a></h3>

      <p class="lead">
      <a href="https://www.cs.cornell.edu/">CS</a>,
      <a href="https://www.cam.cornell.edu/">applied math</a>,
      <a href="https://www.math.cornell.edu/">math</a>,
      <a href="https://stat.cornell.edu/">statistics</a>,
      <a href="https://www.cee.cornell.edu/">civil engineering</a>, 
      <a href="https://www.cse.cornell.edu/">CSE</a>,
      and 
      <a href="https://stat.cornell.edu/academics/phd-minor-data-science">data science</a>.<br/>
      <a href="bunny.html">Confusing rabbits since 2003.</a>
      <a href="bio">Short bio</a>.
      </p>

    </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <hr/>
    <div class="col-xs-5 col-sm-6 col-md-4 col-lg-4">
      <p>
        425 Gates Hall<br/>
        Dept of Computer Science<br/>
        Cornell University<br/>
        Ithaca, NY 14853-5169<br/>
        (or <a href="https://cornell.zoom.us/j/98649265716?pwd=MEpWMWYzWmx3eTJoeWQzbmFJd1BNUT09">Zoom</a>)
      </p>
    </div>
    <div class="col-xs-7 col-sm-6 col-md-5 col-lg-4">
      <p>
        <a href="hours.html">OH:</a> {{ site.data.hours.general | join: ', ' }}<br/>
        <a href="https://outlook.office365.com/owa/calendar/BindelOH@cornellprod.onmicrosoft.com/bookings/">Bookings page</a><br/>
        <a href="mailto:bindel@cornell.edu">bindel@cornell.edu</a><br/>
	Office phone: 607-255-5395<br/><br/>
      </p>
    </div>
    </div>
  </div>
</div>
