<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if page.url == "/index.html" %}
      {% assign active = "active" %}
      {% endif %}      
      <a class="navbar-brand {{ active }}" href="{{ site.baseurl }}">David Bindel</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% for link in site.data.navpages %}
        {% if page.title == link.name %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
        <a href="{{ site.baseurl }}{{ link.link }}.html">
        {{ link.name }}</a>
        </li>
        {% endfor %}
        <!-- <li><a href="http://www.dbindel.net/">Blog</a></li> -->
        <li><a href="https://github.com/dbindel/"><i class="fab fa-github"></i></a></li>
        <li><a href="https://twitter.com/DavidBindel"><i class="fab fa-twitter"></i></a></li>
        <li><a rel="me" href="https://mathtodon.xyz/@davidbindel"><i class="fab fa-mastodon"></i></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
