---
layout: top
---

<div class="row">
  <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <div class="page-header">
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" width="64px" src="{{ site.baseurl }}pic/{{ page.image }}">
        </a>
        <div class="media-body">
          <h1 class="media-heading">
            {{ page.title }}
          </h1>
          <p>
            {{ page.snippet }}
          </p>
        </div>
      </div>
    </div>

    <h3>Summary</h3>
    {{ content }}

    {% if page.links %}
    <h3>Links</h3>
    <ul>
      {% for link in page.links %}
      <li>
        <a href="{{ link.url }}">{{ link.text }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if page.papers %}
    <h3>Papers</h3>
    {% for link in page.papers %}{% refformat link %}{% endfor %}
    {% endif %}

    {% if page.talks %}
    <h3>Talks</h3>
    {% for talk in page.talks %}{% assign entry = site.data.present_dict[talk] %}
    <div class="well well-sm">
      <h4><a href="{{ entry.url }}">{{ entry.title }}</a></h4>
      <p>
        {{ entry.where }}<br/>
        {% for tag in entry.tags %} <span class="label label-primary">{{ tag }}</span>{% endfor %}
        &bull;
        {% for type in entry.type %} <span class="label label-info">{{ type }}</span>{% endfor %}
      </p>
    </div>
    {% endfor %}
    {% endif %}

  </div>
</div>
