---
layout: top
---

<div class="row" style="padding-top:70px;">
  <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>  
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <div class="page-header">
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" width="64px" src="{{ site.baseurl }}pic/{{ page.image }}">
        </a>
        <div class="media-body">
          <h1 class="media-heading">
            {{ page.title }}
          </h1>
          <p>
            {{ page.snippet }}
          </p>
        </div>
      </div>
    </div>
    {% if page.latest %}
    <h3>Recent highlights</h3>
    <ul>
      {% for ref in page.latest %}<li>{{ ref }}</li>{% endfor %}
    </ul>
    {% endif %}
    <h3>Summary</h3>
    {{ content }}
  </div>
</div>
